<div class="table-responsive">
	<table class="table text-white my-5">
		<tbody>
			{% for num in '456' %}
			<tr>
				<th scope="row">{{ num }}</th>
				<td>Sample {{ num }}</td>
				<td>
					<button 
						type="button" 
						class="btn my-button" 
						data-bs-toggle="modal" 
						data-bs-target="#sampleModal"
						data-bs-sampleNumber="{{ num }}"
					>
						Preview
					</button>
				</td>
				<td>
                    <div>
                        <button 
							class="btn my-button" 
							onclick="toggleVisibility('f-1', 'next', '{{ num }}.jpg')" 
							type="button"
						>
							Next
						</button>
                    </div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<div 
	class="modal fade" 
	id="sampleModal" 
	tabindex="-1" 
	aria-labelledby="sampleModalLabel" 
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="sampleModalLabel">Preview</h5>
				<button 
					type="button" 
					class="btn-close" 
					data-bs-dismiss="modal" 
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body p-5 flex-center">
				<img src="" class="w-100">
			</div>
		</div>
	</div>
</div>


<script>
	var sampleModal = document.getElementById('sampleModal');

	sampleModal.addEventListener('show.bs.modal', function (event) {
		
		var button = event.relatedTarget;
  		var sampleNumber = button.getAttribute('data-bs-sampleNumber');

		var baseString = "{{ url_for('static', filename='samples/image')}}";
		var imgUrl = `${baseString}/${sampleNumber}.jpg`;

		sampleModal.querySelector('img').src = imgUrl;
	});

	function toggleVisibility(form, action, file_name) {
		const partOne = document.querySelector(`.${form}-p-1`);
		const partTwo = document.querySelector(`.${form}-p-2`);
		const steps = document.querySelectorAll(`.${form}-step`);

		if (form === 'f-1') {
			if(action === 'next') {
				document.getElementById('sample_file_input').value = file_name;
			}
		}

		partOne.classList.toggle('hide');
		partTwo.classList.toggle('hide');

		steps.forEach( step => {
			step.classList.toggle('active');
		});
	}
</script>