<hr class="m-0 footer-hr">

<div class="container flex-center mb-3 py-4 fs-6">
	<span class="text-white"> < / > by </span> &nbsp;&nbsp; <span class="text-green">Vinay Kakkad</span> &emsp; 
	<img src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/linkedin.svg" alt="socials" class="icons logo-invert">&emsp;
	<img src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/github.svg" alt="socials" class="icons logo-invert">&emsp;
	<img src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/gmail.svg" alt="socials" class="icons logo-invert">&emsp;
</div>

<hr class="mt-0 footer-hr">
<div class="py-5 flex-center">
	<span class="ms-3 fs-2">🔥</span> <span class="text-white"> © Compression 2021 </span>
</div>


