{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
			{% if loop.index == messages|length %}
				{% if category == 'error' %}
					<div class="alert alert-danger m-0">
						<strong>Error!</strong> {{message}}
					</div>
				{% else %}
					<div class="alert alert-success m-0">
						<strong>Success!</strong> {{message}}
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endwith %}
